.HAM {
    text-decoration: none;
    background-color: #8aa4ff;
    padding: 16px;
    border-radius: 8px;
    width: 230px;
    a { padding: 5px; margin: 5px; }

}

a {
    text-decoration: none;
}

header {
    color: rgb(0, 0, 0);
    margin: 250px;
    
}

body {
    background-color: #a9e7ff;
}


footer {
    max-width: 400px;
    height: 100px;
    margin: 0 auto;
    background: rgb(18, 127, 230);
    border-radius: 16px;
    padding: 16px;
    
  }


.PR {
    text-align: center;
    color: rgb(38, 132, 255);
}

.CL {
    width: 650px;
    height: 310px;
    background: #6d98e9e1;
    margin: 0 auto;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 20px;
}




.EX1 {
    background: #2665dbe1;
    width: 50px;
    border-radius: 8px;
    padding: 8px;
}

.H1 {
    float: right;
    margin: -15px;
}

.EX2 {
    background: #2665dbe1;
    width: 50px;
    border-radius: 8px;
    padding: 8px;
}

.H2 {
    float: right;
    margin: -15px;
}

.CL2 {
    width: 650px;
    height: 310px;
    background: #6d98e9e1;
    margin: 0 auto;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 20px;
}


.EX3 {
    background: #2665dbe1;
    width: 50px;
    border-radius: 8px;
    padding: 8px;
}

.H3 {
    float: right;
    margin: -15px;
}

.CL3 {
    width: 650px;
    height: 310px;
    background: #6d98e9e1;
    margin: 0 auto;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 20px;
}