
header {
    background-color: #49ccff;
    margin: 64px;
    padding: 32px;
    width: 700px;
    border-radius: 32px;
    display: flex;
}

main {
    display: flex;
    width: 200px;
    margin: 10px;
    padding: 32px;
    
}

body {
    background-color: #a9e7ff;
}

a {
    text-decoration: none;
}

.RESUME {
    background-color: #1149e6c5;
    width: 50px;
    margin: 5px;
    padding: 16px;
    border-radius: 16px;
}

.Projects {
    background-color: #1149e6c5;
    width: 50px;
    margin: 5px;
    padding: 16px;
    border-radius: 16px;
}

a:hover {
    padding: 16px;
    margin: -15px;
    border-radius: 16px;
    background-color: #8aa4ff;
}

.HAM {
    text-decoration: none;
    background-color: #8aa4ff;
    padding: 16px;
    border-radius: 8px;
    width: 230px;
    a { padding: 5px; margin: 5px; }

}


footer {
    max-width: 400px;
    height: 100px;
    margin: 0 auto;
    background: rgb(18, 127, 230);
    border-radius: 16px;
    padding: 16px;
    
  }
