@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

body {
    background-color: #c33155;
    color: white;
}

header {
    background-color: #aa183c;
    margin: 32px;
    padding: 32px;
    width: 768px;
    border-radius: 16px;
}




main {
    display: flex;
    width: 768px;
    margin: auto;
    padding: 32px;
}